*.acn
*.acr
*.alg
*.aux
*.bbl
*.bib.bak
*.blg
*.dvi
*.fdb_latexmk
*.synctex.gz(busy)
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loe
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.svg
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*./test/*
